@page "/posts/{slug}"
@using CurrentBlogs.Components.Layout

@layout SideBarLayout

@inject IBlogPostDTOService BlogService

@if (blogPost is null)
{
    <PageTitle>Olympus | Not Found </PageTitle>

    <div class="page-wrapper">
        <div class="container d-flex flex-column justify-content-center min-vh-100 py-5">
            <lottie-player src="assets/json/animation-404-light.json" class="d-dark-mode-none mt-n5" background="transparent" speed="1" loop autoplay></lottie-player>
            <lottie-player class="d-none d-dark-mode-block mt-n5" src="assets/json/animation-404-dark.json" background="transparent" speed="1" loop autoplay></lottie-player>
            <div class="text-center pt-4 mt-lg-2">
                <h1 class="display-5">Page not found</h1>
                <p class="fs-lg pb-2 pb-md-0 mb-4 mb-md-5">The page you are looking for was moved, removed or might never existed.</p>
                <a class="btn btn-lg btn-primary" href="/">Go to homepage</a>
            </div>
        </div>
    </div>
}
else
{
    <PageTitle>Olympus | @blogPost.Title </PageTitle>



    <!-- Post title + post meta -->
    <h1 class="pb-2 pb-lg-3">@blogPost.Title</h1>
    <div class="d-flex flex-wrap align-items-center justify-content-between border-bottom mb-4">
        <div class="d-flex align-items-center mb-4 me-4">
            <img src="/api/uploads/author" class="portfolio-image me-3" />
            <span class="fs-sm me-2">By:</span>
            <a class="nav-link position-relative fw-semibold p-0" href="#author" data-scroll data-scroll-offset="80">
                Austin Denofrio
                <span class="d-block position-absolute start-0 bottom-0 w-100" style="background-color: currentColor; height: 1px;"></span>
            </a>
        </div>
        <div class="d-flex align-items-center mb-4">
            <span class="fs-sm me-2">Share post:</span>
            <div class="d-flex">
                <a class="nav-link p-2 me-2" href="https://www.linkedin.com/in/austin-denofrio-286792223/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="LinkedIn" aria-label="LinkedIn">
                    <i class="ai-linkedin"></i>
                </a>
                <a class="nav-link p-2 me-2" href="https://github.com/AustinAdamDenofrio" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="GitHub" aria-label="Github">
                    <i class="ai-github"></i>
                </a>
            </div>
        </div>
    </div>

    <h1>@blogPost.Title</h1>
    <p class="lead">@blogPost.Abstract</p>
    <img class="img-fluid rounded-3 my-5" src="@blogPost.ImageUrl" />
    <div class="post-content">
        @((MarkupString)blogPost.Content!)
    </div>

    <div class="d-flex flex-wrap pb-5 pt-3 pt-md-4 pt-xl-5 mt-xl-n2">
        <h3 class="h6 py-1 mb-0 me-4">Relevant tags:</h3>
        @foreach (TagDTO tag in blogPost.Tags)
        {
            <a class="nav-link fs-sm py-1 px-0 me-3" href="#">
                <span class="text-primary">#</span>@tag.Name
            </a>
        }
    </div>



    <!-- Author widget -->
    <div class="border-top border-bottom py-4" id="author">
        <div class="d-flex align-items-start py-2">
            <img class="d-block rounded-circle mb-3" src="/api/uploads/author" width="56" alt="Author image">
            <div class="d-md-flex w-100 ps-4">
                <div style="max-width: 26rem;">
                    <h3 class="h5 mb-2">Austin Denofrio</h3>
                    <p class="fs-sm mb-0">Porta nisl a ultrices ut libero id. Gravida mi neque, tristique justo, et pharetra laoreet nulla est nulla cras ac arcu sed mattis tristique convallis suspen enim blandit massa cursus augue dui mattis morbi velit semper nunc at etiam lacinia.</p>
                </div>
                <div class="pt-4 pt-md-0 ps-md-4 ms-md-auto">
                    <h3 class="h5">Share post:</h3>
                    <div class="d-flex">
                        <a class="nav-link p-2 me-2" href="https://github.com/AustinAdamDenofrio" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="LinkedIn" aria-label="LinkedIn">
                            <i class="ai-linkedin"></i>
                        </a>
                        <a class="nav-link p-2 me-2" href="https://github.com/AustinAdamDenofrio" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="GitHub" aria-label="Github">
                            <i class="ai-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comments -->
    <CommentSection @rendermode="InteractiveServer" 
                    Comments="blogPost.Comments"
                    BlogPostId="blogPost.Id" />


}



@code {
    #region Parameters
    [Parameter]
    public string? Slug { get; set; }
    #endregion

    #region State
    private BlogPostDTO? blogPost;
    #endregion


    #region Methods
    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (!string.IsNullOrEmpty(Slug))
            {
                blogPost = await BlogService.GetPublishedBlogPostBySlugAsync(Slug);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
    #endregion
}
