@inject ICategoryDTOService CategoryService
@inject IBlogPostDTOService BlogService

@rendermode InteractiveServer

<aside class="col-lg-3">
    <div class="offcanvas-lg offcanvas-end" id="sidebarBlog">
        <div class="offcanvas-header">
            <h4 class="offcanvas-title">Sidebar</h4>
            <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" data-bs-target="#sidebarBlog"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            <!-- Search box -->
            <div class="position-relative mb-4 mb-lg-5">
                <i class="ai-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                <input class="form-control ps-5" type="search" placeholder="Enter keyword" />
                @*                 <form @onsubmit="HandleSearch">
                <div class="input-group">
                <InputText @bind-Value="searchInput" class="form-control" placeholder="Search" />
                <button class="btn btn-primary">Search</button>
                </div>
                </form> *@
            </div>

            <!-- Category links -->
            <h4 class="pt-1 pt-lg-0 mt-lg-n2">Categories:</h4>
            <ul class="nav flex-column mb-lg-5 mb-4">
                <li class="mb-2">
                    <a class="nav-link d-flex p-0 active" href="#">
                        All categories
                        <span class="fs-sm text-body-secondary ms-2">(@blogPosts.Data.Count(c => c.IsPublished == true && c.IsDeleted == false))</span>
                    </a>
                </li>
                @foreach (CategoryDTO trendingCategory in topCategories)
                {
                    <li class="mb-2">
                        <a class="nav-link d-flex p-0" href="/categries/@trendingCategory.Id">
                            @trendingCategory.Name
                            <span class="fs-sm text-body-secondary ms-2">(@trendingCategory.BlogPosts.Count)</span>
                        </a>
                    </li>
                }
            </ul>

            <!-- Featured posts widget -->
            <h4 class="pt-3 pt-lg-0 pb-1">Trending posts:</h4>
            <div class="mb-lg-5 mb-4">

                @foreach (BlogPostDTO trendingPosts in topPosts)
                {
                    <article class="position-relative d-flex align-items-center mb-4">
                        <img class="rounded" src="@trendingPosts.ImageUrl" width="92" alt="Post image">
                        <div class="ps-3">
                            <h4 class="h6 mb-2">
                                <a class="stretched-link" href="#">
                                    @trendingPosts.Title
                                    <p class="small"> <i class="ai-messages"></i> @trendingPosts.Comments.Count</p>
                                </a>
                            </h4>
                            <span class="fs-sm text-body-secondary">13 hours ago</span>
                        </div>
                    </article>
                }
            </div>

            <!-- Social buttons -->
            <h4 class="pt-3 pt-lg-0 pb-1">Contact me:</h4>
            <div class="d-flex mt-n3 ms-n3 mb-lg-5 mb-4 pb-3 pb-lg-0">
                <a class="btn btn-secondary btn-icon btn-sm btn-linkedin rounded-circle mt-3 ms-3" href="https://www.linkedin.com/in/austin-denofrio-286792223/" target="_blank" aria-label="LinkedIn">
                    <i class="ai-linkedin"></i>
                </a>
                <a class="btn btn-secondary btn-icon btn-sm btn-github rounded-circle mt-3 ms-3" href="https://github.com/AustinAdamDenofrio" target="_blank" aria-label="Github">
                    <i class="ai-github"></i>
                </a>
            </div>
            <p class="small">DenofrioAustinDev@gmail.com</p>
        </div>
    </div>
</aside>

<!-- Sidebar toggle button -->
@* <button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" type="button"
        data-bs-toggle="offcanvas" data-bs-target="#sidebarBlog">
    <i class="ai-layout-column me-2"></i>
    Sidebar
</button> *@

@code {

    #region Parameter

    #endregion

    #region State
    private PagedList<BlogPostDTO> blogPosts = new PagedList<BlogPostDTO>();
    private IEnumerable<CategoryDTO> categories = [];

    private IEnumerable<CategoryDTO> topCategories = [];
    private IEnumerable<BlogPostDTO> topPosts = [];
    private int numberOfTrendingCategories = 3;
    private int numberOfTrendingPosts = 4;
    #endregion

    #region Methods
    protected override async Task OnInitializedAsync()
    {
        try
        {
            //Get All BlogPosts
            blogPosts = await BlogService.GetPublishedBlogPostsAsync(1, 5);
            //Get All Categories
            categories = await CategoryService.GetAllCategoriesAsync();

            topCategories = categories.OrderByDescending(c => c.BlogPosts.Count).Take(numberOfTrendingCategories);
            topPosts = blogPosts.Data.OrderByDescending(c => c.Comments.Count).Take(numberOfTrendingPosts);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

    }


    #endregion

}
